ENVIRONMENT = development
MONGODB_URI = suaStringConexao
SEQUELIZE_DB_NAME = suaBaseDeDados
SEQUELIZE_DB_USER = seuUsuario
SEQUELIZE_DB_PASS = suaSenha
SEQUELIZE_HOST = suaStringConexao
SEQUELIZE_PORT = 5432
SEQUELIZE_DIALECT = postgres
SECRET_KEY = suaChaveSegura
EXPIRES_IN = 24h